<div>
  <h2>Exercise 2:</h2>
  <p> - returns the number of countries in the world </p>
  <p class="answer">{{ numberOfCountries }} </p>
  <p> - finds the country with the most official languages, where they officially speak German (de). - that counts all
    the official languages spoken in the listed countries. </p>
  <ul *ngFor="let item of updatedData">
    <li class="answer"> {{ item.country }}</li>
  </ul>

  <p> - to find the country with the highest number of official languages.</p>
  <p class="answer">{{ country }} - {{ highestNumberOfLanguages }} </p>

  <p> - to find the most common official language(s), of all countries.</p>
  <p class="answer">{{ mostCommonLanguage }} </p>
  <ul *ngFor="let item of mostFrequent">
    <li class="answer"> {{ item.value.lang }}</li>
    <li>Repeated Times: {{ item.value.times }}</li>
  </ul>
</div>
